:root{
    //All Project Colors //
    --primaryColor:#3959d7;
    --primaryColorLight:hsl(223, 100%, 97%);
    --primaryColorDark:hsl(216, 58%, 28%);
    --gradientLight:rgb(114, 145, 255);
    --fromColor:hsl(20, 42%, 87%);
    --bgColor:hsl(0, 0%, 100%);
    --whiteColor:hsl(240, 25%, 97%);
    --blackColor:hsl(0, 0%, 18%);
    --blackColorLight:hsl(233, 3%, 51%);
    --shadowColor:hsl(219, 63%,95%);
    --inputColor:hsl(330, 12%, 97%);
    --cardColor:hsl(300, 3%, 94%);
    --orangeColor:hsl(25, 84%, 53%);
    //All Project Font Size //
    --biggestFontSize:2rem;
    --h1FontSize:1.6rem;
    --h2FontSize:1.25rem;
    --h3FontSize:1rem;
    --normalFontSize:0.938rem;
    --smallFontSize:0.813rem;
    --smallestFontSize:0.75rem;
    --borderRedius:10px;
}
.Hello{
    height: auto;
    width: 100vw;
    padding-top: 7rem;
    padding-bottom: 3rem;
    background: Linear-gradient(170deg,
                    hsl(0, 0%, 22%) 0%,
                    hsl(0, 0%, 6%) 30%);
    padding-bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
    //color: var(--whiteColor);
    .secContainer{
        flex-direction: column;
        .textDiv{
            flex-direction: column;
            align-items: flex-start;
            h1{
                color: var(--whiteColor);
                font-size: var(--biggestFontSize);
            }
            p{
                color: var(--whiteColor);
                opacity: .7;
                padding: 1rem 0 2rem;
                font-size: var(--normalFontSize);
            }
            .searchBar{
                background: var(--primaryColorLight);
                width: 100%;
                padding: 0.5rem;
                border-radius: 5px;
                justify-content: space-between;
                border: 5px solid rgb(203, 202, 202, 0.16);
            }
            .icon{
                color: var(--primaryColor);
                margin-right: 2px;
            }
            input{
                background: none;
                outline: none;
                border: none;
                &::placeholder{
                    opacity: .5;
                }
            }
            .btn{
                padding: .8rem;
                transition: .3s;
                &:hover{
                    background: var(--primaryColor);
                    color: var(--whiteColor);
                }
            }
            .numbers{
                color: var(--whiteColor);
                padding: 1.5rem 1rem;
                gap: .5rem;
                justify-content: left;
                .singleNumber{
                    span{
                        display: flex;
                        font-weight: 500;
                        font-size: var(--h1FontSize);
                        blockquote{
                            color: var(--orangeColor);
                        }
                    }
                    small{
                        font-size: var(--smallFontSize);
                        opacity: .7;
                        max-width: 10px;
                    }
                }
            }
        }
        .hello__image{
            display: flex;
            position: relative;
            justify-content: center;
            margin-bottom: 2rem;
            .orbe{
                width: 265px;
                height: 284px;
                background:Linear-gradient(180deg,
                    hsl(0, 0%, 16%)93%,
                    hsl(0, 0%, 67%)100%) ;
                border-radius: 135px 135px 0 0;
            }
            .imgDiv{
                position: absolute;
                width: 250px;
                height: 300px;
                overflow: hidden;
                border-radius: 125px 125px 12px 12px;
                display: inline-flex;
                align-items: flex-end;
                bottom: -1.5rem;
                box-shadow: 0 16px 32px hsl(228, 16%, 25%, .25);
            }
        }
    }
}
@media screen and (min-width: 480px) {
    .Hello{
        .secContainer{
            .testDiv{
                h1{
                    font-size: var(--biggestFontSize);
                }
                p{
                    font-size: var(--h3FontSize);
                    line-height: 30px;
                }
                .searchBar{
                    .icon{
                        margin-left: 5px;
                    }
                    .btn{
                        padding: .8rem 1.5rem;
                    }
                }
                .numbers{
                    .singleNumber{
                        small{
                            padding-right: 2rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 680px){
    .Hello{
        .secContainer{
            flex-direction: row;
            gap: 4rem;
            .hello__image{
                flex-basis: 80%;
            }
        }
    }
}
@media screen and (min-width: 1140px){
    .Hello{
        .secContainer{
            .testDiv{
                position: relative;
                flex-basis: 60%;
                h1{
                    font-size: 3rem;
                }
                .searchBar{
                    input{
                        font-size: var(--h3FontSize);
                    }
                    .btn{
                        padding: 1rem 2rem;
                    }
                }
                .numbers{
                    .singleNumber{
                        span{
                            font-size: 2rem;
                        }
                        small{
                            font-size: var(--normalFontSize);
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1440px){
    .Hello{
        .secContainer{
            align-items: flex-start;
            .testDiv{
                transform: translateY(3rem);
                flex-basis: 60%;
                gap: 1rem;
                h1{
                    font-size: 3.5rem;
                }
                p{
                    font-size: var(--h2FontSize);
                }
                .numbers{
                    .singleNumber{
                        small{
                            font-size: var(--h3FontSize);
                        }
                    }
                }
            }
        }
    }
}